body {
  margin: 10px;
}

.form__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.form {
  width: 50%;
}

.form-control {
  border: 1px solid lightgrey;
  transition: border 2s;
}

.form-control.invalid {
  border: 1px solid red;
}

.valid {
  border: 1px solid rgb(0, 123, 255);
  outline: transparent;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: rgb(0, 123, 255);
}

.step__container {
  text-align: center;
  margin-bottom: 15px;
  overflow: auto;
}

.form__container--button {
  display: flex;
  justify-content: space-evenly;
}